<!-- formulaireFacture.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une facture</title>
</head>
<body>
    <h2>Ajouter une facture</h2>
    
<form th:action="@{/sauvegarder-facture}" method="post" th:object="${facture}">
    <input type="hidden" th:field="*{commande.numero}" />
    
    <label for="dateFacture">Date de facture:</label>
    <input type="date" id="dateFacture" th:field="*{dateFacture}" required />
    
    <label for="total">Total:</label>
    <input type="number" id="total" th:field="*{total}" step="0.01" required />
    
    <label for="ttc">TTC:</label>
    <input type="number" id="ttc" th:field="*{ttc}" step="0.01" required />
    
    <label for="client">Client:</label>
    <input type="hidden" th:field="*{client}" th:value="${facture.commande.client}" readonly />
    
	    <label for="dossier">Dossier:</label>
	<select id="dossier" th:field="*{dossier}">
	    <option value="">Sélectionner un dossier</option>
	    <option th:each="dossier : ${dossiers}" th:value="${dossier.numero}" th:text="${dossier.nom}"></option>
	</select>
    
    <button type="submit">Sauvegarder</button>
</form>

</body>
</html>
