<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des commandes</title>
</head>
<body>
    <h1>Liste des commandes</h1>
    <div class="mb-3">
    <button id="venteBtn" type="button" class="btn btn-primary">Vente</button>
    <button id="achatBtn" type="button" class="btn btn-primary">Achat</button>
</div>
    <table>
        <tr>
            <th>Numéro</th>
            <th>valide</th>
            <th>Produit</th>
            <th>Quantité</th>
        </tr>
        <tr th:each="commande : ${commandes}">
            <td th:text="${commande.numero}"></td>
            <td th:text="${commande.valide}"></td>
            <td>
                <table>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                    </tr>
                    <tr th:each="ligne : ${commande.lignesCommande}">
                        <td th:text="${ligne.produit.designation}"></td>
                        <td th:text="${ligne.qte}"></td>
                    </tr>
                </table>
            </td>
           <td>
    <a th:if="${not commande.valide}" th:href="@{/ajouter-facture/{numeroCommande}(numeroCommande=${commande.numero})}">
			        <button type="button">Facture</button>
			    </a>
			</td>

        </tr>
    </table>
    <script>
    var venteBtn = document.getElementById('venteBtn');
    var achatBtn = document.getElementById('achatBtn');

    venteBtn.addEventListener('click', function() {
        window.location.href = '/ventelist';
    });

    achatBtn.addEventListener('click', function() {
        window.location.href = '/achatlist';
    });
</script>
</body>
</html>
