<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Role</title>
</head>
<body>
    <h1>Edit Role</h1>
    
    <form th:action="@{/roles/update}" th:object="${role}" method="post">
		<input type="number" th:field="${role.id}">
        
        <div>
            <label >Role:</label>
            <input type="text" th:field="${role.role}" required>
        </div>
        
        <div>
            <label for="designation">Designation:</label>
            <input type="text" id="designation" th:field="${role.designation}" required>
        </div>
        
        <div>
            <button type="submit">Update</button>
        </div>
    </form>
</body>
</html>
